backend/datasets/consolidated_dataset.*
backend/testing/datasets/consolidated_dataset.*
backend/topoAssessmentvenv
backend__pycache__
frontend/data_displayer/node_modules/*\
backend/testing/.pytest_cache
backend/testing/__pycache__
.vscode
